/* Mengatur background utama */
body {
    background-color: #F6F8D5 !important;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container untuk konten utama */
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #205781;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-center {
    color: #fff;
}

/* Header */
h2 {
    text-align: center;
}


/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
tr {
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Tombol Edit */
.btn-edit {
    background-color: #ffc107;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
}

/* Tombol Hapus */
.btn-hapus {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary {
    background-color: #4F959D !important; /* Warna utama dari Color Hunt */
    border-color: #4F959D;
    color: white !important; /* Warna teks */
}

.btn-primary:hover {
    background-color: #98D2C0 !important; /* Warna saat hover */
    border-color: #98D2C0 !important;
}
